<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>able</title>

    <link rel="stylesheet" href="../css/tags_editor.min.css">
    <link rel="stylesheet" href="../css/bootstrap-select.min.css">
    <link rel="stylesheet" href="../css/select2.min.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/flatpickr.min.css">
    <link rel="stylesheet" href="../css/daterangepicker.min.css">
    <link rel="stylesheet" href="../css/main.css">

    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/tether.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/plugins.js"></script>
    <script src="../js/moment.min.js"></script>
    <script src="../js/flatpickr.min.js"></script>
    <script src="../js/daterangepicker.js"></script>
    <script src="../js/jquery.caret.min.js"></script>
    <script src="../js/jquery.tag-editor.min.js"></script>
    <script src="../js/bootstrap-select.min.js"></script>
    <script src="../js/select2.full.min.js"></script>
    <script src="../js/app.js"></script>
    <script src="../js/login_check.js"></script>

    <script>
        $(document).ready(function () {

            console.log("ready");
            check_session();
        });

        function welcome() {
            $('#welcomeModal').modal('show').css({
                'margin-top': function(){
                    return 200; //($(this).height()/2) // 작동안함;;
                }
            });

        }
    </script>
</head>

<!-- welcome Modal -->
<div class="modal fade" id="welcomeModal" role="dialog">
    <div class="modal-dialog " style="max-width: 500px">
        <div class="modal-content" style="border-radius: 30px; ">
            <div class="modal-header" style="border-bottom: none; ">
                <p class="font-weight-bold"></p>
                <span class="font-weight-bold" > Wellcome to ABLE! </span>
                <button type="button" style=" border:none; background: transparent;" data-dismiss="modal"></button>
            </div>
            <div class="modal-body" style="margin-left: 50px; margin-right: 50px;">
                <div style="text-align: center;">
                    <img style="text-align: center; height: 200px" src="../img/bg_deco.png">
                </div>
                <br>
                <div style="text-align: center">에이블에 온 것을 축하합니다!<br>
                    계좌 생성 이후에 에이블을 이용하실 수 있습니다.
                </div>
                <br>
                <div style="text-align: center;">
                    <p></p>
                    <button class="modal-btn" type="button" > Okay!
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--site header-->
<body class="horizontal-navigation chrome-browser menu-left-opened">
<header class="site-header" >
    <div class="container-fluid">
        <a href="/" class="site-logo">
            <img class="hidden-md-down" src="../img/logo-3.png" alt="">
            <img class="hidden-lg-down" src="../img/logo-2-mob.png" alt="">
        </a>
        <button style="margin-left: 20px; " id="show-hide-sidebar-toggle" class="show-hide-sidebar">
            <span>toggle menu</span>
        </button>
        <button class="hamburger hamburger--htla">
            <span>toggle menu</span>
        </button>
        <div class="site-header-content">
            <div class="site-header-content-in">
                <!--<button id="show-hide-sidebar-toggle" class="show-hide-sidebar">-->
                <!--<span>toggle menu</span>-->
                <!--</button>-->
                <!--<button class="hamburger hamburger&#45;&#45;htla">-->
                <!--<span>toggle menu</span>-->
                <!--</button>hide toggle-->
                <div class="site-header-collapsed">
                </div><!--.site-header-collapsed-->
                <div class="mobile-menu-right-overlay">
                </div>
                <div class="site-header-shown">
                    <div style="float: right">
                        <ul class="nav ">
                            <li class="nav-item">
                                <a class="nav-link" href="#"><span class="current">ㅇ</span>공지사항</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><span class="current">ㅇ</span>회사소개</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#"><span class="current">ㅇ</span> 뱅크서비스</a>
                            </li>
                            <li style="box-shadow: -1px 0 0 0 rgba(0, 0, 0, 0.1);">
                                <a id="btn_login"  class="btn btn-nav btn-rounded btn-inline site-header-address" href="#">
                                    <span></span>
                                </a>
                            </li>

                            <!-- 로그아웃 버튼 -->
                            <li class="nav-item">
                                <a class="nav-link" active href="#" id="btn_logout"><span class="glyphicon glyphicon-share"></span></a>
                            </li>

                        </ul>
                    </div>
                </div><!--.site-header-shown-->
            </div><!--site-header-content-in-->
        </div><!--.site-header-content-->
    </div><!--.container-fluid-->
</header><!--.site-header-->
<!--top menu-->
<div class="mobile-menu-left-overlay"></div>
<div class="row" style="background-color: white">
    <ul class="main-nav nav ">
        <li class="nav-item">
            <a class="nav-link " href="/p2pMatching">P2P Matching Engine</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" onclick="javascript:alert('서비스 준비 중 입니다.')">ABLE DEX</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/send">간편송금</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/salary">월급 지불</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/account_manage">계좌 관리</a>
        </li>
        <!--임시 좌측 정렬 처리-->
        <!--<li class="nav-item ">-->
        <!--<a class="nav-link" href="#">-->
        <!--<button type="button" style="margin-bottom: 3px" class="btn btn-inline">-->
        <!--<img style="height: 12px;" src="../img/subnvi_ic_account.png">-->
        <!--계좌관리-->
        <!--</button>-->
        <!--</a>-->
        <!--</li>-->
    </ul>
</div>
<!--.top menu-->

</div>
<br><br><br><br><br><br><br><br><br>
<h2 style="text-align: center" class="intro-title">계좌관리</h2><br><br>
<div class="container" style="width: 600px;">
    <div class="box-typical box-typical-padding my-account" >
        <div style="margin-left: 10px;">
            <div class="row">
                <div class="col-sm-3"><img style=" margin-top: 10px; height: 25px;"
                                           src="../img/logo_able_black_horizontal.png"></div>
                <div class="col-sm-6"></div>
                <div class="col-sm-3" style="color:#919fa9; font-size: 13px; text-align: right">
                    Registration Date<br>2018.06.10
                </div>
            </div>
            <br><br>
            <div class="row">
                <div style="font-size: 14px" class="col-sm-12">
                    <label class="form-label input" >ABLE User Address</label>
                    <div style="margin-top: 5px">
                        0xB89E26f0C6B30966648Fc768bE13e303C06fD9AC <a class="btn btn-nav btn-rounded btn-inline btn-primary-outline my-account-copy-clipboard" href="#" >
                        copy</a>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div style="font-size: 14px" class="col-sm-12">
                    <label class="form-label input" >Address Nickname</label>
                    <div style="margin-top: 5px">
                        MyABLE <a
                            class="btn btn-nav btn-rounded btn-inline btn-primary-outline my-account-copy-clipboard" href="#" >
                        copy</a>
                    </div>
                </div>
                <div  class="col-sm-12 contour">
                    <br>
                    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Holding Coin - - - - - - - - - - -
                    - - - - - - - - - - - - - - - - - - - - - -
                    <br><br><br>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="card coinmark">
                                <div  class="coinmark-sub">
                                    <img class="coin-image"
                                         src="../img/side_logo_bitcoin_on.png">
                                    <p>BTC
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-9" style="padding-top: 20px">
                            334.32994823 BTC
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="card coinmark">
                                <div class="coinmark-sub">
                                    <img class="coin-image"
                                         src="../img/side_logo_ethereum_on.png">
                                    <p>ETH
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-9" style="padding-top: 20px">
                            124.36924102
                            ETH
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--계좌 -->
    <br>
    <div class="box-typical box-typical-padding new-account">
        <div style="margin-left: 10px;">
            <div class="row">
                <div class="col-sm-3"><img style=" margin-top: 10px; height: 25px;"
                                           src="../img/logo_able_gray_horizontal.png"></div>
                <div class="col-sm-6 new-account-regist"> Account Regist</div>
                <div class="col-sm-3" style="color:#919fa9; font-size: 13px; text-align: right">
                </div>
                <br>
            </div>
            <br><br>
            <div class="row">
                <div style="font-size: 14px" class="col-sm-12">
                    <label class="form-label input" >Account Nickname</label>
                    <div style="margin-top: 5px">
                        <input type="text" class="form-control" id="input_account_number" placeholder="ex) first account">
                    </div>

                    <br>
                    <label class="form-label input" >Account password</label>
                    <div style="margin-top: 5px">
                        <input type="password" class="form-control" id="input_account_password" placeholder="password">
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-12">
                    <!--<button type="button"  class="btn btn-inline transaction" onclick="javascript:welcome()">Add Account</button>-->
                    <button type="button" class="btn btn-inline transaction" id="btn_add_account">Add Account</button>
                </div>
            </div>
        </div>

    </div><br><br><br>
</div>

</body>
</html>