<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>able</title>

    <link rel="stylesheet" href="../css/tags_editor.min.css">
    <link rel="stylesheet" href="../css/bootstrap-select.min.css">
    <link rel="stylesheet" href="../css/select2.min.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/flatpickr.min.css">
    <link rel="stylesheet" href="../css/daterangepicker.min.css">
    <link rel="stylesheet" href="../css/main.css">

    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/tether.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/plugins.js"></script>
    <script src="../js/moment.min.js"></script>
    <script src="../js/flatpickr.min.js"></script>
    <script src="../js/daterangepicker.js"></script>
    <script src="../js/jquery.caret.min.js"></script>
    <script src="../js/jquery.tag-editor.min.js"></script>
    <script src="../js/bootstrap-select.min.js"></script>
    <script src="../js/select2.full.min.js"></script>
    <script src="../js/app.js"></script>
    <script src="../js/contract_address.js"></script>
    <script src="../js/login_check.js"></script>


    <script>
        $(document).ready(function () {
            console.log("ready");
            check_session();

        });

        function welcome(){
            $('#welcomeModal').modal('show').css({
                'margin-top': function(){
                    return 200; //($(this).height()/2) // 작동안함;;
                }
            });

        }
    </script>
</head>

<!--site header-->
<body class="horizontal-navigation chrome-browser menu-left-opened">
<header class="site-header" >
    <div class="container-fluid">
        <a href="/" class="site-logo">
            <img class="hidden-md-down" src="../img/logo-3.png" alt="">
            <img class="hidden-lg-down" src="../img/logo-2-mob.png" alt="">
        </a>
        <button style="margin-left: 20px; " id="show-hide-sidebar-toggle" class="show-hide-sidebar">
            <span>toggle menu</span>
        </button>
        <button class="hamburger hamburger--htla">
            <span>toggle menu</span>
        </button>
        <div class="site-header-content">
            <div class="site-header-content-in">
                <button class="hamburger hamburger--htla">
                <span>toggle menu</span>
                </button>
                <div class="site-header-collapsed">
                </div><!--.site-header-collapsed-->
                <div class="mobile-menu-right-overlay">
                </div>
                <div class="site-header-shown">
                    <div style="float: right">
                        <ul class="nav ">
                            <li class="nav-item">
                                <a class="nav-link" href="#"><span class="current"></span>Notice</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><span class="current"></span>About ABLE</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#"><span class="current"></span>Bank Service</a>
                            </li>
                            <li style="box-shadow: -1px 0 0 0 rgba(0, 0, 0, 0.1);">
                                <a id="btn_login"  class="btn btn-nav btn-rounded btn-inline site-header-address" href="#">
                                    <span></span>
                                </a>
                            </li>

                            <!-- 로그아웃 버튼 -->
                            <li class="nav-item">
                                <a class="nav-link" active href="#" id="btn_logout"><span class="glyphicon glyphicon-share"></span></a>
                            </li>

                        </ul>
                    </div>
                </div><!--.site-header-shown-->
            </div><!--site-header-content-in-->
        </div><!--.site-header-content-->
    </div><!--.container-fluid-->
</header><!--.site-header-->

<!--.top menu-->
<div class="mobile-menu-left-overlay"></div>
<div class="row">
    <ul class="main-nav nav nav-inline" style="z-index: 8; box-shadow: 1px 1px 3px #ccc;">
        <li class="nav-item">
            <a class="nav-link" href="/p2pMatching">P2P Matching Engine</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/dex">ABLE DEX</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/send">Easy Transfer</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/salary">Pay Salary</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/account_manage">Account Manage</a>
        </li>

        <li class="nav-item">
            <a class="nav-link " href="/deposit_token">Deposit</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/withdraw_token">Withdraw</a>
        </li>
    </ul>
</div>

<div class="col-md-12" style=" max-height:100%">
    <div class="row" style="height:1500px;">
        <div class="col-sm-3" style="background-color: #FFFFFF; box-shadow: 3px 3px 5px #ccc; !important height:1500px;  padding-top: 150px;">
            <section>
                <div class="container">
                    <h5 style="margin-top: 20px; font-weight: bold">Market</h5>

                    <div class="row">
                        <div class="card coinmark">
                            <div  class="coinmark-sub">
                                <img class="coin-image" src="../img/side_logo_bitcoin_on.png">
                                <p>ETH
                            </div>
                        </div>

                        <div style="padding-left: 15px"></div>
                        <div class="card coinmark">
                            <div  class="coinmark-sub">
                                <img class="coin-image" src="../img/side_logo_bitcoin_on.png">
                                <p>ABLE
                            </div>
                        </div>

                        <div style="padding-left: 15px"></div>
                        <div class="card coinmark">
                            <div  class="coinmark-sub">
                                <img class="coin-image" src="../img/side_logo_bitcoin_on.png">
                                <p>ABLE
                            </div>
                        </div>

                        <div style="padding-left: 15px"></div>
                        <div class="card coinmark">
                            <div  class="coinmark-sub">
                                <img class="coin-image" src="../img/side_logo_bitcoin_on.png">
                                <p>ABLD
                            </div>
                        </div>
                    </div> <!-- row finish -->
                </div> <!-- container finish -->



                    <!--<div class="checkbox-detailed-tbl">-->
                        <!--<label for="check-det-2">-->
                            <!--<span style="display: table-cell;">ETH</span>-->
                            <!--ETH/BTC-->
                            <!--<input type="radio" id="check-det-2" style="text-align: right; display: inline-block; float: right;"></label>-->
                    <!--</div>-->


                    <div class="checkbox-detailed">
                        <!--<label for="check-det-1">-->
								<!--<span class="checkbox-detailed-tbl">-->
									<!--<span class="checkbox-detailed-cell">-->
										<!--<span class="checkbox-detailed-title">Simple</span>-->
										<!--1 Page Overview-->
									<!--</span>-->
								<!--</span>-->
                        <!--<input type="radio" name="detailed" id="check-det-1" style="float: right;">-->
                        <!--</label>-->





                        <input type="radio" name="detailed" id="check-det-1" checked="" style="float: right;">
                        <label for="check-det-1">
								<span class="checkbox-detailed-tbl">
									<span class="checkbox-detailed-cell">
										<span class="checkbox-detailed-title">Simple</span>
										1 Page Overview
									</span>
								</span>
                        </label>

                        <input type="radio" name="detailed" id="check-det-1" checked="" style="float: right;">
                        <label for="check-det-1">
								<span class="checkbox-detailed-tbl">
									<span class="checkbox-detailed-cell">
										<span class="checkbox-detailed-title">Simple</span>
										1 Page Overview
									</span>
								</span>
                        </label>

                        <input type="radio" name="detailed" id="check-det-1" checked="" style="float: right;">
                        <label for="check-det-1">
								<span class="checkbox-detailed-tbl">
									<span class="checkbox-detailed-cell">
										<span class="checkbox-detailed-title">Simple</span>
										1 Page Overview
									</span>
								</span>
                        </label>

                        <input type="radio" name="detailed" id="check-det-1" checked="" style="float: right;">
                        <label for="check-det-1">
								<span class="checkbox-detailed-tbl">
									<span class="checkbox-detailed-cell">
										<span class="checkbox-detailed-title">Simple</span>
										1 Page Overview
									</span>
								</span>
                        </label>

                    </div>

            </section>
        </div>

        <div class="col-sm-9">
            <div class="row" style="padding-top: 150px;">
                <div class="col-sm-12">

                    <div class="box-typical box-typical-padding">
                        <!-- TradingView Widget BEGIN -->
                        <div class="tradingview-widget-container">
                            <div id="tradingview_9e99b"></div>
                            <div class="tradingview-widget-copyright"><a href="https://kr.tradingview.com/chart/JYAO4HHu/" rel="noopener" target="_blank"><span class="blue-text"></span></a></div>
                            <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                            <script type="text/javascript">
                                new TradingView.widget(
                                    {
                                        "width": 980,
                                        "height": 610,
                                        "symbol": "KRAKEN:ETHUSD",
                                        "interval": "D",
                                        "timezone": "Etc/UTC",
                                        "theme": "Light",
                                        "style": "1",
                                        "locale": "kr",
                                        "toolbar_bg": "#f1f3f6",
                                        "enable_publishing": false,
                                        "allow_symbol_change": true,
                                        "container_id": "tradingview_9e99b"
                                    }
                                );
                            </script>
                        </div>
                        <!-- TradingView Widget END -->
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="box-typical box-typical-padding">
                        <h5 class="m-t-lg">Lend</h5>
                        <form>
                            <div class="form-group">
                                <label class="form-label" style="padding-left: 14px">Interest Rate</label>
                                <div class="col-sm-12">
                                    <p class="form-control-static">
                                        <input type="text" class="form-control" placeholder=""></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" style="padding-left: 14px">Amount</label>
                                <div class="col-sm-12">
                                    <p class="form-control-static">
                                        <input type="text" class="form-control" placeholder=""></p>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                Calculate Interest
                            </div>
                            <br>
                            <div class="col-sm-12">
                                <button type="button" style="width:100%" class="btn btn-inline">LEND</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="box-typical box-typical-padding">
                        <h5 class="m-t-lg" >Borrow</h5>
                        <form>
                            <div class="form-group">
                                <label class="form-label" style="padding-left: 14px">Interest Rate</label>
                                <div class="col-sm-12">
                                    <p class="form-control-static">
                                        <input type="text" class="form-control" placeholder=""></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" style="padding-left: 14px">Amount</label>
                                <div class="col-sm-12">
                                    <p class="form-control-static">
                                        <input type="text" class="form-control" placeholder=""></p>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                Calculate Interest
                            </div>
                            <br>
                            <div class="col-sm-12">
                                <button type="button" style="width:100%" class="btn btn-inline">BORROW</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<style type="text/css">

    .borrow {
        background-image: linear-gradient(to right, rgba(136, 160, 252, 0.5), #4c6ce9);

        margin-top: 7px;
        position: relative;
        display: inline-block;
        height: 20px;
        border: none;
        border-left: 0;
        border-radius: 4px;
    }

    .lend {
        background-image: linear-gradient(to left, rgba(245, 123, 146, 0.5), #e84559);
        margin-top: 7px;
        position: relative;
        display: inline-block;
        height: 20px;
        border: none;
        border-left: 0;
        border-radius: 4px;
    }

    .centerbox {
        background-color: #bec6cc;
        height: 35px;
        text-align: center;
        font-size: 2px;
    }
</style>

</body>
</html>