<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>able</title>

    <link rel="stylesheet" href="../css/tags_editor.min.css">
    <link rel="stylesheet" href="../css/bootstrap-select.min.css">
    <link rel="stylesheet" href="../css/select2.min.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/flatpickr.min.css">
    <link rel="stylesheet" href="../css/daterangepicker.min.css">
    <link rel="stylesheet" href="../css/main.css">

    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/tether.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/plugins.js"></script>
    <script src="../js/moment.min.js"></script>
    <script src="../js/flatpickr.min.js"></script>
    <script src="../js/daterangepicker.js"></script>
    <script src="../js/jquery.caret.min.js"></script>
    <script src="../js/jquery.tag-editor.min.js"></script>
    <script src="../js/bootstrap-select.min.js"></script>
    <script src="../js/select2.full.min.js"></script>
    <script src="../js/app.js"></script>
    <script src="../js/login_check.js"></script>


    <script>
        $(document).ready(function () {
            console.log("ready");
            check_session();

        });

        function welcome(){
            $('#welcomeModal').modal('show').css({
                'margin-top': function(){
                    return 200; //($(this).height()/2) // 작동안함;;
                }
            });

        }
    </script>
</head>

<!--site header-->
<body class="horizontal-navigation chrome-browser menu-left-opened">
<header class="site-header" >
    <div class="container-fluid">
        <a href="/" class="site-logo">
            <img class="hidden-md-down" src="../img/logo-3.png" alt="">
            <img class="hidden-lg-down" src="../img/logo-2-mob.png" alt="">
        </a>
        <button style="margin-left: 20px; " id="show-hide-sidebar-toggle" class="show-hide-sidebar">
            <span>toggle menu</span>
        </button>
        <button class="hamburger hamburger--htla">
            <span>toggle menu</span>
        </button>
        <div class="site-header-content">
            <div class="site-header-content-in">
                <!--<button id="show-hide-sidebar-toggle" class="show-hide-sidebar">-->
                <!--<span>toggle menu</span>-->
                <!--</button>-->
                <!--<button class="hamburger hamburger&#45;&#45;htla">-->
                <!--<span>toggle menu</span>-->
                <!--</button>hide toggle-->
                <div class="site-header-collapsed">
                </div><!--.site-header-collapsed-->
                <div class="mobile-menu-right-overlay">
                </div>
                <div class="site-header-shown">
                    <div style="float: right">
                        <ul class="nav ">
                            <li class="nav-item">
                                <a class="nav-link" href="#"><span class="current">ㅇ</span>Notice</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><span class="current">ㅇ</span>About ABLE</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#"><span class="current">ㅇ</span>Bank Service</a>
                            </li>
                            <li style="box-shadow: -1px 0 0 0 rgba(0, 0, 0, 0.1);">
                                <a id="btn_login" class="btn btn-nav btn-rounded btn-inline site-header-address" href="#">
                                    <span>0xA1E99.....1E14BE</span>
                                </a>
                            </li>

                            <!-- 로그아웃 버튼 -->
                            <li class="nav-item">
                                <a class="nav-link" active href="#" id="btn_logout"><span class="glyphicon glyphicon-share"></span></a>
                            </li>

                        </ul>
                    </div>
                </div><!--.site-header-shown-->
            </div><!--site-header-content-in-->
        </div><!--.site-header-content-->
    </div><!--.container-fluid-->
</header><!--.site-header-->

<!--.top menu-->

<div class="mobile-menu-left-overlay"></div>
<div class="row">
    <ul class="main-nav nav nav-inline" style="z-index: 8; box-shadow: 1px 1px 3px #ccc;">
        <li class="nav-item">
            <a class="nav-link active" href="/p2pMatching">P2P Matching Engine</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/dex">ABLE DEX</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/send">Easy Transfer</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/salary">Pay Salary</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/account_manage">Account Manage</a>
        </li>
    </ul>
</div>

<h2 style="text-align: center" class="intro-title">계좌관리</h2><br><br>
<div class="container" style="width: 600px;">
    <div class="box-typical box-typical-padding my-account" >
        <div style="margin-left: 10px;">
            <div class="row">
                <div class="col-sm-3"><img style=" margin-top: 10px; height: 25px;"
                                           src="../img/logo_able_black_horizontal.png"></div>
                <div class="col-sm-6"></div>
                <div class="col-sm-3" style="color:#919fa9; font-size: 13px; text-align: right">
                    Registration Date<br>2018.06.10
                </div>
            </div>
            <br><br>
            <div class="row">
                <div style="font-size: 14px" class="col-sm-12">
                    <label class="form-label input" >ABLE User Address</label>
                    <div style="margin-top: 5px">
                        0xB89E26f0C6B30966648Fc768bE13e303C06fD9AC <a class="btn btn-nav btn-rounded btn-inline btn-primary-outline my-account-copy-clipboard" href="#" >
                        copy</a>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div style="font-size: 14px" class="col-sm-12">
                    <label class="form-label input" >Address Nickname</label>
                    <div style="margin-top: 5px">
                        MyABLE <a
                            class="btn btn-nav btn-rounded btn-inline btn-primary-outline my-account-copy-clipboard" href="#" >
                        copy</a>
                    </div>
                </div>
                <div  class="col-sm-12 contour">
                    <br>
                    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Holding Coin - - - - - - - - - - -
                    - - - - - - - - - - - - - - - - - - - - - -
                    <br><br><br>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-3">


                            <div class="card coinmark">
                                <div  class="coinmark-sub">
                                    <img class="coin-image"
                                         src="../img/side_logo_bitcoin_on.png">
                                    <p>BTC
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-9" style="padding-top: 20px">
                            334.32994823 BTC
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="card coinmark">
                                <div class="coinmark-sub">
                                    <img class="coin-image"
                                         src="../img/side_logo_ethereum_on.png">
                                    <p>ETH
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-9" style="padding-top: 20px">
                            124.36924102
                            ETH
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="card coinmark">
        <div  class="coinmark-sub">
            <img class="coin-image"
                 src="../img/side_logo_bitcoin_on.png">
            <p>BTC
        </div>
    </div>


<div class="col-md-12" style=" max-height:100%">
    <div class="row" style="height:1500px;">
        <div class="col-sm-4"
             style="background-color: #FFFFFF; box-shadow: 3px 3px 5px #ccc; !important height:1500px;  padding-top: 150px;">
            <section>
                <h5 class="m-t-lg ">P2P List</h5>
                <table class="table">
                    <tbody>
                    <tr>
                        <th>Coin</th>
                        <th>Interest</th>
                        <th>Vol</th>
                        <th>CHG</th>
                    </tr>
                    <tr>
                        <td>BIT</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>ETH</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>ABLE</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>EOS</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>TRON</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </section>
        </div>

        <style type="text/css">

            .borrow {
                background-image: linear-gradient(to right, rgba(136, 160, 252, 0.5), #4c6ce9);

                margin-top: 7px;
                position: relative;
                display: inline-block;
                height: 20px;
                border: none;
                border-left: 0;
                border-radius: 4px;
            }

            .lend {
                background-image: linear-gradient(to left, rgba(245, 123, 146, 0.5), #e84559);
                margin-top: 7px;
                position: relative;
                display: inline-block;
                height: 20px;
                border: none;
                border-left: 0;
                border-radius: 4px;
            }

            .centerbox {
                background-color: #bec6cc;
                height: 35px;
                text-align: center;
                font-size: 2px;
            }
        </style>

        <div class="col-sm-8">
            <div class="row" style="padding-top: 150px;">
                <div class="col-sm-12">

                    <div class="box-typical box-typical-padding">
                        place for chart
                        <div class="row">
                            <div class="col-sm-5">
                                <span class="lend" style=" width:60%; float: right"></span>
                            </div>
                            <div class="col-sm-2">
                                <div class="box-typical centerbox">
                                    10%<br>(=10000ABLE Dollar)
                                </div>
                            </div>
                            <div class="col-sm-5">
                            </div>
                            <div class="col-sm-5">
                                <span class="lend" style=" width:35%; float: right"></span>
                            </div>
                            <div class="col-sm-2">
                                <div class="box-typical centerbox">
                                    9%<br>(=10000ABLE Dollar)
                                </div>
                            </div>
                            <div class="col-sm-5">
                            </div>
                            <div class="col-sm-5">
                                <span class="lend" style=" width:15%; float: right"></span>
                            </div>
                            <div class="col-sm-2">
                                <div class="box-typical centerbox">
                                    8%<br>(=10000ABLE Dollar)
                                </div>
                            </div>
                            <div class="col-sm-5">
                            </div>
                            <div class="col-sm-5">
                                <span class="lend" style=" width:2%; float: right"></span>
                            </div>
                            <div class="col-sm-2">
                                <div class="box-typical centerbox">
                                    7%<br>(=10000ABLE Dollar)
                                </div>
                            </div>
                            <div class="col-sm-5">
                            </div>
                            <div class="col-sm-5">
                            </div>
                            <div class="col-sm-2">
                                <div class="box-typical centerbox">
                                    6%<br>(=10000ABLE Dollar)
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <span class="borrow" style=" width:8%;"></span>
                            </div>
                            <div class="col-sm-5">
                            </div>
                            <div class="col-sm-2">
                                <div class="box-typical centerbox">
                                    5%<br>(=10000ABLE Dollar)
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <span class="borrow" style=" width:30%;"></span>
                            </div>
                            <div class="col-sm-5">
                            </div>
                            <div class="col-sm-2">
                                <div class="box-typical centerbox">
                                    4%<br>(=10000ABLE Dollar)
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <span class="borrow" style=" width:45%;"></span>
                            </div>


                            <div class="col-sm-5">
                            </div>
                            <div class="col-sm-2">
                                <div class="box-typical centerbox">
                                    3%<br>(=10000ABLE Dollar)
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <span class="borrow" style=" width:60%;"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="box-typical box-typical-padding">
                        <h5 class="m-t-lg ">Lend</h5>
                        <form>
                            <div class="form-group">
                                <label class="form-label" style="padding-left: 14px">Interest Rate</label>
                                <div class="col-sm-12">
                                    <p class="form-control-static">
                                        <input type="text" class="form-control" placeholder=""></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" style="padding-left: 14px">Amount</label>
                                <div class="col-sm-12">
                                    <p class="form-control-static">
                                        <input type="text" class="form-control" placeholder=""></p>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                Calculate Interest
                            </div>
                            <br>
                            <div class="col-sm-12">
                                <button type="button" style="width:100%" class="btn btn-inline">LEND</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="box-typical box-typical-padding">
                        <h5 class="m-t-lg ">Borrow</h5>
                        <form>
                            <div class="form-group">
                                <label class="form-label" style="padding-left: 14px">Interest Rate</label>
                                <div class="col-sm-12">
                                    <p class="form-control-static">
                                        <input type="text" class="form-control" placeholder=""></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" style="padding-left: 14px">Amount</label>
                                <div class="col-sm-12">
                                    <p class="form-control-static">
                                        <input type="text" class="form-control" placeholder=""></p>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                Calculate Interest
                            </div>
                            <br>
                            <div class="col-sm-12">
                                <button type="button" style="width:100%" class="btn btn-inline">BORROW</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


</body>
</html>