<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>able</title>

    <link rel="stylesheet" href="../css/tags_editor.min.css">
    <link rel="stylesheet" href="../css/bootstrap-select.min.css">
    <link rel="stylesheet" href="../css/select2.min.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/flatpickr.min.css">
    <link rel="stylesheet" href="../css/daterangepicker.min.css">
    <link rel="stylesheet" href="../css/main.css">

    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/tether.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/plugins.js"></script>
    <script src="../js/moment.min.js"></script>
    <script src="../js/flatpickr.min.js"></script>
    <script src="../js/daterangepicker.js"></script>
    <script src="../js/jquery.caret.min.js"></script>
    <script src="../js/jquery.tag-editor.min.js"></script>
    <script src="../js/bootstrap-select.min.js"></script>
    <script src="../js/select2.full.min.js"></script>
    <script src="../js/app.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/contract_address.js"></script>
    <script src="../js/token_inout.js"></script>

    <script>
        $(document).ready(function () {
            check_session();

            // 에이블 계좌 변경시 작동하는 함수
            $( "#select_account" ).change(function(){
                get_account_detail($('#select_account').val());
            });

        });
    </script>
</head>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog " style="max-width: 600px">
        <div class="modal-content" style="border-radius: 30px; ">
            <div class="modal-header" style="border-bottom: none; ">
                <p class="font-weight-bold"></p>
                <span class="font-weight-bold"> Confirm </span>
                <button type="button" class="dismiss" data-dismiss="modal"><img
                        style="height: 30px;" src="../img/btn_close_black@3x.png"></button>
            </div>
            <div class="modal-body" style="margin-left: 50px; margin-right: 50px; text-align: center;">
                <label  class="form-label" >To ABLE User Address</label>
                0xB89E26f0C6B30966648Fc768bE13e303C06fD9AC
                <br><br>
                <label  class="form-label" >Address Nickname</label>
                N/N
                <br><br>
                <label  class="form-label" >Amount to send</label>
                1.000000000000 ETH
                <br><br>
                <label class="form-label" >Gas Limit</label>
                20
                <br><br>
                <div style="text-align: center;">
                    <p></p>
                    <button class="text-center modal-btn" type="button" >
                        SEND
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--site header-->
<body class="horizontal-navigation chrome-browser menu-left-opened">
<div id="wrap">
    <!--loading-->
    <section class="loading">
        <p style="width: 600px;">
            <img src="../img/loading2.svg"><br>
            <span style="font-weight: 800; color : white">Transaction is processing. Please wait a moment.</span>
        </p>
    </section>
</div>
<header class="site-header" >
    <div class="container-fluid">
        <a href="/" class="site-logo">
            <img class="hidden-md-down" src="../img/logo-3.png" alt="">
            <img class="hidden-lg-down" src="../img/logo-2-mob.png" alt="">
        </a>
        <button style="margin-left: 20px; " id="show-hide-sidebar-toggle" class="show-hide-sidebar">
            <span>toggle menu</span>
        </button>
        <button class="hamburger hamburger--htla">
            <span>toggle menu</span>
        </button>
        <div class="site-header-content">
            <div class="site-header-content-in">
                <!--<button id="show-hide-sidebar-toggle" class="show-hide-sidebar">-->
                <!--<span>toggle menu</span>-->
                <!--</button>-->
                <!--<button class="hamburger hamburger&#45;&#45;htla">-->
                <!--<span>toggle menu</span>-->
                <!--</button>-->
                <div class="site-header-collapsed">
                </div><!--.site-header-collapsed-->
                <div class="mobile-menu-right-overlay">
                </div>
                <div class="site-header-shown">
                    <div style="float: right">
                        <ul class="nav ">
                            <li class="nav-item">
                                <a class="nav-link" href="#"><span class="current"></span>Notice</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><span class="current"></span>About ABLE</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#"><span class="current"></span>Bank Service</a>
                            </li>
                            <li style="box-shadow: -1px 0 0 0 rgba(0, 0, 0, 0.1);">
                                <a id="btn_login"  class="btn btn-nav btn-rounded btn-inline site-header-address" href="#">
                                    <span></span>
                                </a>
                            </li>

                            <!-- 로그아웃 버튼 -->
                            <li class="nav-item">
                                <a class="nav-link" active href="#" id="btn_logout"><span class="glyphicon glyphicon-share"></span></a>
                            </li>

                        </ul>
                    </div>
                </div><!--.site-header-shown-->
            </div><!--site-header-content-in-->
        </div><!--.site-header-content-->
    </div><!--.container-fluid-->
</header><!--.site-header-->

<!--top menu-->
<div class="mobile-menu-left-overlay"></div>
<div class="row" style="background-color: white">
    <ul class="main-nav nav ">

        <li class="nav-item">
            <a class="nav-link " href="/p2pMatching">P2P Matching Engine</a>
        </li>

        <li class="nav-item">
            <!--<a class="nav-link" onclick="javascript:alert_dexready()">ABLE DEX</a>-->
            <a class="nav-link" href="/dex">ABLE DEX</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/send">Easy Transfer</a>
        </li>

        <li class="nav-item">
            <a class="nav-link " href="/salary">Pay Salary</a>
        </li>

        <li class="nav-item">
            <a class="nav-link " href="/account_manage">Account Manage</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/deposit_token">Deposit</a>
        </li>

        <li class="nav-item">
            <a class="nav-link active" href="/withdraw_token">Withdraw</a>
        </li>

    </ul>
</div>
<!--.top menu-->

<div style="background-color: white">
    <br><br><br><br><br><br><br><br><br>
    <h2 style="text-align: center; font-weight: 900; color: gray" class="intro-title" >Able Token Withdraw</h2>

    <div class="row" style="width: 100%;  border-bottom: 1px; background-color: white">

        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <div class="form-group" style=" align-self: center">


                <label class="form-label input" >Select Your Account</label>
                <p class="form-control-static">
                    <select class="form-control" id="select_account">
                    </select>
                </p>

                <label class="form-label input" >My Account Number</label>
                <p class="form-control-static">
                    <input type="text" class="form-control" id="input_my_account_number" placeholder="" disabled></p>

                <div class="row">
                    <div class="col-md-6">
                        <label class="form-label" >Coin Select</label>
                        <select class="form-control" id="select_coin">
                            <option value="t001">Ethereum</option>
                            <option value="t002">Able Coin</option>
                            <option value="t003">Able Dollar</option>
                        </select>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label input">Number of Token (eth)</label>
                        <p class="form-control-static">
                            <input type="text" class="form-control" id="input_num_token" placeholder="Num of Token"></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <button id="btn_deposit_token" type="button" class="btn btn-inline transaction" onclick="javascript:withdraw_token()">Withdraw</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 오른쪽에 나타나는 계좌 정보 표시 -->
        <div class="col-md-3">
            <div class="box-typical box-typical-padding my-info">
                <b style="font-size:25px;  font-weight: 900">My ABLE Token</b>
                <br><br>
                <span style="font-size: 15px; font-weight: 900">ABLE User</span><br><br>
                <div>
                    <span class="my-info-label" >User Address</spans><br>
                    <span class="my-info-content" id="send_menu_user_address"></span><br><br>
                    <span class="my-info-label" >Account Number</spans><br>
                    <span class="my-info-content" id="send_menu_account_number"></span><br><br>
                    <span class="my-info-label" >Account Type</spans><br>
                    <span class="my-info-content" id="send_menu_account_type" >Free Account</span><br><br>
                        <div id="send_menu_token_list"></div>
                </div>
            </div>
        </div>
        <br>
        <br><br><br><br><br>


    </div>
    <hr>
    <div class="row" style=" width: 100%; text-align: center; border-color: gray; border-top: 1px; background-color: white">
        <div class="col-md-12">
            <h2 style="text-align: center; margin-left: auto; margin-right: auto; font-weight: 900; color: gray" class="intro-title" >Transaction history.</h2>
            <br><br><br>
        </div>
        <div class="row" style="width: 100%">
            <div class="col-md-3"></div>
            <div class="col-md-6">

                <table class="transaction_history" cellspacing="30px" style="border-color: white; width: 100%; ">
                    <thead style="font-size: 12px; font-weight: 800; color: #919fa9">
                    <tr>
                        <td>Date</td><td>Description</td><td>Rate</td><td>Amount</td><td></td>
                    </tr>
                    </thead>

                    <tbody>
                    <tr class="spacer"></tr>
                    <tr>
                        <td>10 minutes ago</td>
                        <td>Exchange. DAI > ETH</td>
                        <td>1 DAI = 0.001897 ETH</td>
                        <td>110019.000 DAI - 2.086 ETH</td>
                        <td class="proceeding"> <span class="glyphicon glyphicon-log-in" style="margin-right: 3px;"></span> Proceeding
                        </td>
                    </tr>
                    <tr class="spacer"></tr>
                    <tr>
                        <td>10 minutes ago</td>
                        <td>Exchange. DAI > ETH</td>
                        <td>1 DAI = 0.001897 ETH</td>
                        <td>110019.000 DAI - 2.086 ETH</td>
                        <td class="complete"> <span class="glyphicon glyphicon-ok" style="margin-right: 3px;"></span> Complete
                        </td>
                    </tr>
                    <tr class="spacer"></tr>
                    <tr>
                        <td>10 minutes ago</td>
                        <td>Exchange. DAI > ETH</td>
                        <td>1 DAI = 0.001897 ETH</td>
                        <td>110019.000 DAI - 2.086 ETH</td>
                        <td class="fail"><span class="glyphicon glyphicon-remove" aria-hidden="true" style="margin-right: 3px;"></span> Fail
                        </td>
                    </tr>
                    <tr class="spacer"></tr>
                    <tr>
                        <td>10 minutes ago</td>
                        <td>Exchange. DAI > ETH</td>
                        <td>1 DAI = 0.001897 ETH</td>
                        <td>110019.000 DAI - 2.086 ETH</td>
                        <td class="complete"> <span class="glyphicon glyphicon-ok" style="margin-right: 3px;"></span> Complete
                        </td>
                    </tr>
                    <tr class="spacer"></tr>
                    <tr>
                        <td>10 minutes ago</td>
                        <td>Exchange. DAI > ETH</td>
                        <td>1 DAI = 0.001897 ETH</td>
                        <td>110019.000 DAI - 2.086 ETH</td>
                        <td class="complete"> <span class="glyphicon glyphicon-ok
" style="margin-right: 3px;"></span> Complete
                        </td>
                    </tr>
                    <tr class="spacer"></tr>
                    <tr>
                        <td>10 minutes ago</td>
                        <td>Exchange. DAI > ETH</td>
                        <td>1 DAI = 0.001897 ETH</td>
                        <td>110019.000 DAI - 2.086 ETH</td>
                        <td class="complete"> <span class="glyphicon glyphicon-ok
" style="margin-right: 3px;"></span> Complete
                        </td>
                    </tr>
                    </tbody>

                </table><br><br><br><br><br><br>
            </div>
            <div class="col-md-3"></div>
        </div>

        <br><br><br><br><br><br>
    </div>
</div>
</body>
</html>